@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
html {
  color: #070707;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  background-color: #ffffff;
}

h2 {
  margin: 0;
  font-size: 80px;
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
  color: #070707;
  text-align: center;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 55px;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 35px;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.theme-toggler {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 54px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(7, 7, 7, 0.3);
  border-radius: 54px;
  transition: border ease-in-out 0.3s;
  cursor: pointer;
}
.theme-toggler_dark {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.theme-toggler__moon, .theme-toggler__sun {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 54px;
  transition: background-color ease-in-out 0.3s;
}
.theme-toggler__moon::before, .theme-toggler__sun::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  transition: filter ease-in-out 0.3s;
}
.theme-toggler__moon {
  background-color: rgba(28, 34, 54, 0);
}
.theme-toggler__moon::before {
  background-image: url(../assets/moon.svg);
  filter: brightness(0);
}
.theme-toggler_dark .theme-toggler__moon {
  background-color: #1c2236;
}
.theme-toggler_dark .theme-toggler__moon::before {
  filter: brightness(1);
}
.theme-toggler__sun {
  background-color: #e8e8e8;
}
.theme-toggler__sun::before {
  background-image: url(../assets/sun.svg);
}
.theme-toggler_dark .theme-toggler__sun {
  background-color: rgba(232, 232, 232, 0);
}

.button {
  height: 54px;
  padding: 0 31px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #3f3f3f;
  border-radius: 50px;
  background-color: #3f3f3f;
  transition: transform ease-in-out 0.1s, border ease-in-out 0.3s;
  will-change: transform, border;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(1);
}
.button_secondary {
  color: #070707;
  border: 1px solid rgba(7, 7, 7, 0.3);
  background-color: rgba(255, 255, 255, 0);
}
.button_secondary:hover {
  border-color: #697eed;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .logo__image {
    max-width: 107px;
  }
}

.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1088px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 586px;
  }
}

.custom-select {
  position: relative;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  box-sizing: border-box;
  color: #070707;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-selected {
    max-width: 130px;
    width: 100%;
    font-size: 13px;
  }
}
.custom-select .select-selected > span {
  display: inline-block;
  min-width: 24px;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .custom-select .select-selected > span {
    max-width: 115px;
  }
}
.custom-select .select-selected::before {
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(../assets/icons/globe.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: brightness(0);
}
@media (max-width: 576px) {
  .custom-select .select-selected::before {
    height: 18px;
    width: 18px;
  }
}
.custom-select .select-selected::after {
  content: "";
  height: 5px;
  width: 9px;
  background-image: url(../assets/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all ease-in-out 0.1s;
  filter: brightness(0);
}
@media (max-width: 576px) {
  .custom-select .select-selected::after {
    display: none;
  }
}
.custom-select .select-selected.active {
  color: #070707;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  max-height: 288px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  color: #070707;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(7, 7, 7, 0.1);
}
@media (max-width: 576px) {
  .custom-select .select-items {
    font-size: 13px;
  }
}
.custom-select .select-items::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #f9f9f9;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: #f9f9f9;
  border-radius: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb:hover {
  background-color: #f9f9f9;
}
.custom-select .select-items .same-as-selected {
  font-weight: 700;
}
.custom-select .select-items .select-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.header {
  padding: 30px 0;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1440px) {
  .header .container {
    gap: 35px;
  }
}
@media (max-width: 992px) {
  .header .container {
    gap: 24px;
  }
}
.header .logo {
  flex: 0 0 auto;
}
.header__nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 10px;
}
@media (max-width: 1440px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #070707;
  transform: all ease-in-out 0.15s;
}
.header__nav-link:hover {
  color: #697eed;
}
.header__block {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .header__block {
    flex: 1 1 auto;
    justify-content: center;
  }
}
.header__block:last-child {
  gap: 20px;
}
@media (max-width: 1440px) {
  .header__block:last-child {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
@media (max-width: 576px) {
  .header__block:last-child {
    gap: 15px;
  }
}
.header__block .button {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header .theme-toggler {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__subscription {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__login {
    display: none;
  }
}
.header__burger {
  display: none;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../assets/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
@media (max-width: 1440px) {
  .header__burger {
    display: inline-block;
  }
}

.advantages {
  padding: 112px 0 98px;
  background-color: #f9f9f9;
}
@media (max-width: 1440px) {
  .advantages {
    padding: 112px 0 67px;
  }
}
@media (max-width: 768px) {
  .advantages {
    padding: 64px 0 60px;
  }
}
.advantages__title {
  margin: 0 0 93px;
}
@media (max-width: 1440px) {
  .advantages__title {
    margin: 0 0 70px;
  }
}
@media (max-width: 576px) {
  .advantages__title {
    margin: 0 0 51px;
  }
}
.advantages__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 100px;
  max-width: 934px;
  margin: 0 auto 93px;
}
@media (max-width: 1440px) {
  .advantages__cards {
    margin: 0 auto 70px;
  }
}
@media (max-width: 768px) {
  .advantages__cards {
    gap: 45px 30px;
    margin: 0 auto 50px;
  }
}
.advantages__card {
  position: relative;
  flex: 0 0 calc(50% - 50px);
}
@media (max-width: 768px) {
  .advantages__card {
    flex: 0 0 calc(50% - 15px);
  }
}
@media (max-width: 576px) {
  .advantages__card {
    flex: 1 1 100%;
    padding-left: 54px;
  }
}
.advantages__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
  filter: brightness(0);
}
@media (max-width: 768px) {
  .advantages__card-figure {
    margin: 0 0 15px;
  }
}
@media (max-width: 576px) {
  .advantages__card-figure {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
  }
}
.advantages__card-figure-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .advantages__card-figure-image {
    max-width: 42px;
  }
}
.advantages__card-number {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .advantages__card-number {
    margin: 0 0 15px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .advantages__card-number {
    text-align: left;
  }
}
.advantages__card-text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .advantages__card-text {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .advantages__card-text {
    text-align: left;
  }
}
.advantages__description {
  max-width: 480px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1440px) {
  .advantages__description {
    max-width: 342px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .advantages__description {
    max-width: 236px;
    font-size: 14px;
  }
}