@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@font-face {
  font-family: "Benzin Bold";
  src: local("Benzin Bold"), local("Benzin-Bold"), url("../fonts/Benzin-Bold.woff2") format("woff2"), url("../fonts/Benzin-Bold.woff") format("woff"), url("../fonts/Benzin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  color: #070707;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  background-color: #ffffff;
}

h2 {
  margin: 0;
  font-size: 80px;
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
  color: #070707;
  text-align: center;
}
@media (max-width: 1440px) {
  h2 {
    font-size: 55px;
  }
}
@media (max-width: 992px) {
  h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 35px;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.theme-toggler {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 54px;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(7, 7, 7, 0.3);
  border-radius: 54px;
  transition: border ease-in-out 0.3s;
  cursor: pointer;
}
.theme-toggler_dark {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.theme-toggler__moon, .theme-toggler__sun {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 54px;
  transition: background-color ease-in-out 0.3s;
}
.theme-toggler__moon::before, .theme-toggler__sun::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  transition: filter ease-in-out 0.3s;
}
.theme-toggler__moon {
  background-color: rgba(28, 34, 54, 0);
}
.theme-toggler__moon::before {
  background-image: url(../assets/moon.svg);
  filter: brightness(0);
}
.theme-toggler_dark .theme-toggler__moon {
  background-color: #1c2236;
}
.theme-toggler_dark .theme-toggler__moon::before {
  filter: brightness(1);
}
.theme-toggler__sun {
  background-color: #e8e8e8;
}
.theme-toggler__sun::before {
  background-image: url(../assets/sun.svg);
}
.theme-toggler_dark .theme-toggler__sun {
  background-color: rgba(232, 232, 232, 0);
}

.button {
  height: 54px;
  padding: 0 31px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #3f3f3f;
  border-radius: 50px;
  background-color: #3f3f3f;
  transition: transform ease-in-out 0.1s, border ease-in-out 0.3s;
  will-change: transform, border;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.02);
}
.button:active {
  transform: scale(1);
}
.button_secondary {
  color: #070707;
  border: 1px solid rgba(7, 7, 7, 0.3);
  background-color: rgba(255, 255, 255, 0);
}
.button_secondary:hover {
  border-color: #697eed;
}

.logo__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .logo__image {
    max-width: 107px;
  }
}

.container {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1088px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 586px;
  }
}

.custom-select {
  position: relative;
  margin: 0;
  width: -moz-min-content;
  width: min-content;
  border: none;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  box-sizing: border-box;
  color: #070707;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
@media (max-width: 576px) {
  .custom-select .select-selected {
    max-width: 130px;
    width: 100%;
    font-size: 13px;
  }
}
.custom-select .select-selected > span {
  display: inline-block;
  min-width: 24px;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .custom-select .select-selected > span {
    max-width: 115px;
  }
}
.custom-select .select-selected::before {
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(../assets/icons/globe.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  filter: brightness(0);
}
@media (max-width: 576px) {
  .custom-select .select-selected::before {
    height: 18px;
    width: 18px;
  }
}
.custom-select .select-selected::after {
  content: "";
  height: 5px;
  width: 9px;
  background-image: url(../assets/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all ease-in-out 0.1s;
  filter: brightness(0);
}
@media (max-width: 576px) {
  .custom-select .select-selected::after {
    display: none;
  }
}
.custom-select .select-selected.active {
  color: #070707;
}
.custom-select .select-selected.active::after {
  transform: rotate(180deg);
}
.custom-select .select-hide {
  display: none !important;
}
.custom-select .select-items {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  max-height: 288px;
  min-width: -moz-max-content;
  min-width: max-content;
  overflow-y: auto;
  color: #070707;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(7, 7, 7, 0.1);
}
@media (max-width: 576px) {
  .custom-select .select-items {
    font-size: 13px;
  }
}
.custom-select .select-items::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: #f9f9f9;
}
.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: #f9f9f9;
  border-radius: 4px;
}
.custom-select .select-items::-webkit-scrollbar-thumb:hover {
  background-color: #f9f9f9;
}
.custom-select .select-items .same-as-selected {
  font-weight: 700;
}
.custom-select .select-items .select-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.custom-select .select-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 0;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1440px) {
  .header .container {
    gap: 35px;
  }
}
@media (max-width: 992px) {
  .header .container {
    gap: 24px;
  }
}
.header .logo {
  flex: 0 0 auto;
}
.header__nav {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 10px;
}
@media (max-width: 1440px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #070707;
  transform: all ease-in-out 0.15s;
}
.header__nav-link:hover {
  color: #697eed;
}
.header__block {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 992px) {
  .header__block {
    flex: 1 1 auto;
    justify-content: center;
  }
}
.header__block:last-child {
  gap: 20px;
}
@media (max-width: 1440px) {
  .header__block:last-child {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}
@media (max-width: 576px) {
  .header__block:last-child {
    gap: 15px;
  }
}
.header__block .button {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header .theme-toggler {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__subscription {
    display: none;
  }
}
@media (max-width: 992px) {
  .header__login {
    display: none;
  }
}
.header__burger {
  display: none;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-image: url(../assets/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}
@media (max-width: 1440px) {
  .header__burger {
    display: inline-block;
  }
}

.we-will-help {
  position: relative;
  overflow: hidden;
  background-image: url(../assets/circle-bg.svg);
  background-repeat: no-repeat;
  background-position: top -233px right -268px;
  background-size: 690px;
}
@media (max-width: 1440px) {
  .we-will-help {
    background-position: top -182px right -140px;
    background-size: 530px;
  }
}
@media (max-width: 768px) {
  .we-will-help {
    background-position: top -160px center;
  }
}
@media (max-width: 576px) {
  .we-will-help {
    background-position: top -40px center;
    background-size: calc(100% - 40px);
  }
}
.we-will-help:before, .we-will-help::after {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.we-will-help:before {
  top: 126px;
  left: 82px;
  width: 560px;
  aspect-ratio: 1.2222222/1;
  background-image: url(../assets/ceils-left.svg);
}
@media (max-width: 1440px) {
  .we-will-help:before {
    left: 157px;
    width: 395px;
  }
}
@media (max-width: 992px) {
  .we-will-help:before {
    top: 126px;
    left: 20px;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .we-will-help:before {
    display: none;
  }
}
.we-will-help::after {
  top: 128px;
  right: 38px;
  width: 540px;
  aspect-ratio: 0.8709677/1;
  background-image: url(../assets/ceils-right.svg);
}
@media (max-width: 1440px) {
  .we-will-help::after {
    right: 117px;
    width: 383px;
  }
}
@media (max-width: 992px) {
  .we-will-help::after {
    right: 20px;
    width: 340px;
  }
}
@media (max-width: 768px) {
  .we-will-help::after {
    display: none;
  }
}
.we-will-help .container {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 140px;
}
@media (max-width: 1440px) {
  .we-will-help .container {
    gap: 92px;
  }
}
@media (max-width: 992px) {
  .we-will-help .container {
    gap: 63px 24px;
  }
}
@media (max-width: 768px) {
  .we-will-help .container {
    flex-direction: column;
  }
}
.we-will-help__text {
  flex: 0 0 762px;
  max-width: 762px;
  padding: 315px 0 225px;
}
@media (max-width: 1440px) {
  .we-will-help__text {
    flex: 0 0 600px;
    max-width: 600px;
    padding: 230px 0 145px;
  }
}
@media (max-width: 992px) {
  .we-will-help__text {
    flex: 0 0 440px;
    max-width: 440px;
  }
}
@media (max-width: 768px) {
  .we-will-help__text {
    flex: 0 1 auto;
    max-width: none;
    padding: 123px 0 0;
  }
}
.we-will-help__figure {
  flex: 1 1 auto;
  position: relative;
}
.we-will-help__figure-image {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: none;
  width: 722px;
  aspect-ratio: 1.1283/1;
  background: url(../assets/phone-bg.svg) center no-repeat;
  background-size: contain;
}
@media (max-width: 1440px) {
  .we-will-help__figure-image {
    width: 540px;
  }
}
@media (max-width: 992px) {
  .we-will-help__figure-image {
    width: 480px;
  }
}
@media (max-width: 768px) {
  .we-will-help__figure-image {
    position: static;
    width: 100%;
  }
}
.we-will-help__question {
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 40px;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .we-will-help__question {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .we-will-help__question {
    margin: 0 0 15px;
    font-size: 16px;
    text-align: center;
  }
}
.we-will-help__title {
  margin: 0 0 40px;
  font-weight: 800;
  font-size: 70px;
  line-height: 90%;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .we-will-help__title {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .we-will-help__title {
    line-height: 120%;
  }
}
@media (max-width: 768px) {
  .we-will-help__title {
    margin: 0 0 30px;
    font-size: 35px;
    text-align: center;
  }
}
.we-will-help__description {
  max-width: 666px;
  margin: 0 0 59px;
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  opacity: 0.6;
}
@media (max-width: 1440px) {
  .we-will-help__description {
    max-width: 534px;
    margin: 0 0 50px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .we-will-help__description {
    max-width: 666px;
    margin: 0 0 31px;
    font-size: 14px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .we-will-help__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.we-will-help__login {
  height: 88px;
  padding: 0 158px;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .we-will-help__login {
    height: 75px;
    padding: 0 101px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .we-will-help__login {
    height: 61px;
    padding: 0 92px;
    font-size: 16px;
  }
}

.about {
  position: relative;
  overflow: hidden;
  background: url(../assets/about-bg.svg) top left no-repeat;
  background-size: 592px;
}
@media (max-width: 1440px) {
  .about {
    background-size: 550px;
  }
}
@media (max-width: 992px) {
  .about {
    background-size: 500px;
  }
}
@media (max-width: 768px) {
  .about {
    background-size: 430px;
  }
}
@media (max-width: 576px) {
  .about {
    background-size: 336px;
  }
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  height: 57px;
  background-color: #f9f9f9;
}
@media (max-width: 1440px) {
  .about::before {
    bottom: 38px;
    height: 48px;
  }
}
@media (max-width: 768px) {
  .about::before {
    bottom: 20px;
    height: 28px;
  }
}
.about .container {
  display: flex;
  gap: 244px;
}
@media (max-width: 1440px) {
  .about .container {
    gap: 110px;
  }
}
@media (max-width: 992px) {
  .about .container {
    gap: 80px;
  }
}
@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
    gap: 50px;
    padding-top: 68px;
    padding-bottom: 68px;
  }
}
.about__text {
  flex: 0 0 auto;
  padding: 315px 0 421px;
}
@media (max-width: 1440px) {
  .about__text {
    padding: 170px 0 256px;
  }
}
@media (max-width: 992px) {
  .about__text {
    padding: 120px 0;
  }
}
@media (max-width: 768px) {
  .about__text {
    padding: 0;
  }
}
.about__title {
  margin: 0 0 79px;
  text-align: left;
}
@media (max-width: 1440px) {
  .about__title {
    margin: 0 0 96px;
  }
}
@media (max-width: 992px) {
  .about__title {
    margin: 0 0 31px;
  }
}
@media (max-width: 768px) {
  .about__title {
    text-align: center;
  }
}
.about__services {
  display: flex;
  align-items: center;
  gap: 45px;
  margin: 0 0 88px;
}
@media (max-width: 1440px) {
  .about__services {
    gap: 25px;
    margin: 0 0 70px;
  }
}
@media (max-width: 992px) {
  .about__services {
    align-items: flex-start;
    flex-direction: column-reverse;
    margin: 0 0 31px;
  }
}
@media (max-width: 768px) {
  .about__services {
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.about__services-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .about__services-image {
    max-width: 180px;
  }
}
@media (max-width: 768px) {
  .about__services-image {
    max-width: 128px;
  }
}
@media (max-width: 768px) {
  .about__services-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about__services-info-count {
  margin: 0 0 15px;
  color: #383838;
  font-family: "Benzin Bold", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 110%;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .about__services-info-count {
    margin: 0 0 12px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .about__services-info-count {
    margin: 0 0 10px;
    font-size: 18px;
  }
}
.about__services-info-text {
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .about__services-info-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about__services-info-text {
    font-size: 12px;
  }
}
.about__accept-text {
  margin-bottom: -10px;
  font-weight: 400;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .about__accept-text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about__accept-text {
    margin-bottom: 0;
    font-size: 12px;
    text-align: center;
  }
}
.about__accept-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 19px 65px;
  max-width: 532px;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 992px) {
  .about__accept-images {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
  }
}
@media (max-width: 768px) {
  .about__accept-images {
    align-items: center;
  }
}
.about__accept-images-item {
  display: block;
  max-height: 53px;
  width: auto;
  filter: brightness(0);
}
@media (max-width: 1440px) {
  .about__accept-images-item {
    max-height: 51px;
  }
}
@media (max-width: 992px) {
  .about__accept-images-item {
    max-height: 45px;
  }
}
@media (max-width: 768px) {
  .about__accept-images-item {
    max-height: 37px;
  }
}
.about__figure {
  flex: 1 1 auto;
  position: relative;
}
@media (max-width: 768px) {
  .about__figure {
    overflow: hidden;
    margin-right: -20px;
  }
}
.about__figure-image {
  position: absolute;
  left: 0;
  bottom: 85px;
  max-width: none;
  width: 1037px;
  aspect-ratio: 1.0146771/1;
  background: url(../assets/about-phone.svg) center no-repeat;
  background-size: contain;
}
@media (max-width: 1440px) {
  .about__figure-image {
    width: 708px;
  }
}
@media (max-width: 992px) {
  .about__figure-image {
    width: 600px;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .about__figure-image {
    position: static;
    width: 130%;
  }
}

.advantages {
  padding: 112px 0 98px;
  background-color: #f9f9f9;
}
@media (max-width: 1440px) {
  .advantages {
    padding: 112px 0 67px;
  }
}
@media (max-width: 768px) {
  .advantages {
    padding: 64px 0 60px;
  }
}
.advantages__title {
  margin: 0 0 93px;
}
@media (max-width: 1440px) {
  .advantages__title {
    margin: 0 0 70px;
  }
}
@media (max-width: 576px) {
  .advantages__title {
    margin: 0 0 51px;
  }
}
.advantages__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 100px;
  max-width: 934px;
  margin: 0 auto 93px;
}
@media (max-width: 1440px) {
  .advantages__cards {
    margin: 0 auto 70px;
  }
}
@media (max-width: 768px) {
  .advantages__cards {
    gap: 45px 30px;
    margin: 0 auto 50px;
  }
}
.advantages__card {
  position: relative;
  flex: 0 0 calc(50% - 50px);
}
@media (max-width: 768px) {
  .advantages__card {
    flex: 0 0 calc(50% - 15px);
  }
}
@media (max-width: 576px) {
  .advantages__card {
    flex: 1 1 100%;
    padding-left: 54px;
  }
}
.advantages__card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px;
  filter: brightness(0);
}
@media (max-width: 768px) {
  .advantages__card-figure {
    margin: 0 0 15px;
  }
}
@media (max-width: 576px) {
  .advantages__card-figure {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    transform: translateY(-50%);
  }
}
.advantages__card-figure-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .advantages__card-figure-image {
    max-width: 42px;
  }
}
.advantages__card-number {
  margin: 0 0 20px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .advantages__card-number {
    margin: 0 0 15px;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .advantages__card-number {
    text-align: left;
  }
}
.advantages__card-text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .advantages__card-text {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .advantages__card-text {
    text-align: left;
  }
}
.advantages__description {
  max-width: 480px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1440px) {
  .advantages__description {
    max-width: 342px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .advantages__description {
    max-width: 236px;
    font-size: 14px;
  }
}

.services {
  position: relative;
  padding: 247px 0 257px;
}
@media (max-width: 1440px) {
  .services {
    padding: 177px 0 181px;
  }
}
@media (max-width: 768px) {
  .services {
    padding: 140px 0 138px;
  }
}
.services::before, .services::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 57px;
  background-color: #f9f9f9;
}
@media (max-width: 1440px) {
  .services::before, .services::after {
    height: 48px;
  }
}
@media (max-width: 768px) {
  .services::before, .services::after {
    height: 28px;
  }
}
.services::before {
  top: 40px;
}
@media (max-width: 1440px) {
  .services::before {
    top: 34px;
  }
}
@media (max-width: 768px) {
  .services::before {
    top: 21px;
  }
}
.services::after {
  bottom: 50px;
}
@media (max-width: 1440px) {
  .services::after {
    bottom: 38px;
  }
}
@media (max-width: 768px) {
  .services::after {
    bottom: 20px;
  }
}
.services__title {
  margin: 0 0 108px;
}
@media (max-width: 1440px) {
  .services__title {
    margin: 0 0 80px;
  }
}
@media (max-width: 768px) {
  .services__title {
    margin: 0 0 50px;
  }
}
.services__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 53px 24px;
}
@media (max-width: 992px) {
  .services__cards {
    gap: 36px 24px;
  }
}
.services__card {
  flex: 0 0 calc(20% - 19.2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .services__card {
    flex: 0 0 calc(25% - 18px);
  }
}
@media (max-width: 768px) {
  .services__card {
    flex: 0 0 calc(33.3333333333% - 16px);
  }
}
@media (max-width: 576px) {
  .services__card {
    flex: 0 0 calc(50% - 12px);
  }
}
.services__card-image {
  max-width: 100%;
  height: auto;
}
.services__more {
  margin: 69px 0 0;
  text-align: center;
}
@media (max-width: 1440px) {
  .services__more {
    margin: 60px 0 0;
  }
}
@media (max-width: 768px) {
  .services__more {
    margin: 30px 0 0;
  }
}
.services__more-link {
  color: #1e1e1e;
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  opacity: 0.2;
}
@media (max-width: 1440px) {
  .services__more {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .services__more {
    font-size: 14px;
  }
}