@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@font-face {
  font-family: 'Benzin Bold';
  src: local('Benzin Bold'), local('Benzin-Bold'), url('../fonts/Benzin-Bold.woff2') format('woff2'),
    url('../fonts/Benzin-Bold.woff') format('woff'),
    url('../fonts/Benzin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  color: $black;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  background-color: $white;
}

h2 {
  margin: 0;
  font-size: 80px;
  line-height: 110%;
  font-weight: 800;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  @include desktop {
    font-size: 55px;
  }

  @include laptop {
    font-size: 45px;
  }

  @include tablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 35px;
  }
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font-family: 'Montserrat', sans-serif;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
