.header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 15px 0;

  & .container {
    display: flex;
    align-items: center;
    gap: 50px;

    @include desktop {
      gap: 35px;
    }

    @include laptop {
      gap: 24px;
    }
  }

  & .logo {
    flex: 0 0 auto;
  }

  &__nav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 10px;

    @include desktop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 500;
      flex-direction: column;
      align-items: flex-start;
      gap: 28px;
      max-width: 420px;
      width: 100%;
      padding: 40px 32px 40px 40px;
      box-sizing: border-box;
      background-color: $white;
      box-shadow: 0 0 20px rgba($color: $black, $alpha: 0.15);
      transform: translateX(-600px);
      transition: transform ease-in-out 0.2s;
      will-change: transform;
    }

    @include mobile {
      padding: 32px 40px 20px;
      gap: 24px;
    }

    &.active {
      transform: translateX(0);
    }

    &-close {
      display: none;

      @include desktop {
        position: absolute;
        right: 40px;
        top: 50px;
        display: inline-block;
        border: none;
        width: 24px;
        height: 24px;
        padding: 0;
        background: url(../assets/icons/close.svg) center no-repeat;
        background-size: 24px;
        filter: brightness(0);
      }

      @include mobile {
        top: 42px;
      }
    }

    .dark &-close {
      @include desktop {
        filter: brightness(1);
      }
    }

    &-logo {
      display: none;

      @include desktop {
        display: block;
        margin-bottom: 60px;
      }

      @include mobile {
        margin-bottom: 40px;
      }

      & .logo__image {
        height: 50px;

        @include mobile {
          height: 46px;
        }
      }
    }

    &-controls {
      display: none;

      @include desktop {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 24px;
      }

      & .header__login,
      & .header__subscription {
        @include desktop {
          display: inline !important;
          width: max-content;
        }
      }

      & .theme-toggler {
        @include desktop {
          display: flex !important;
          width: max-content;
        }
      }
    }

    &-link {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: $black;
      transform: $baseTransition;

      &:hover {
        color: $purple;
      }

      @include desktop {
        font-size: 20px;
      }

      @include mobile {
        font-size: 18px;
      }
    }

    .dark &-link {
      color: $white;

      &:hover {
        color: $purple;
      }
    }
  }

  .dark &__nav {
    @include desktop {
      background-color: $darkBlue;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 10px;

    @include laptop {
      flex: 1 1 auto;
      justify-content: center;
    }

    &:last-child {
      gap: 20px;

      @include desktop {
        flex: 1 1 auto;
        justify-content: flex-end;
      }

      @include mobile {
        gap: 15px;
      }
    }

    & .button {
      flex: 0 0 auto;
    }
  }

  & .theme-toggler {
    @include laptop {
      display: none;
    }
  }

  &__subscription {
    @include laptop {
      display: none;
    }
  }

  &__login {
    @include laptop {
      display: none;
    }
  }

  &__burger {
    display: none;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;

    background-color: rgba($color: $white, $alpha: 0);

    cursor: pointer;

    @include desktop {
      display: inline-block;
    }

    &::before {
      transition: $baseTransition;
    }

    &.active::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 400;
      background-color: rgba($color: $black, $alpha: 0.3);
      backdrop-filter: blur(5px);
    }

    &-icon {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-image: url(../assets/icons/burger.svg);
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(0);
    }
  }

  .dark &__burger {
    &.active::before {
      background-color: rgba($color: $purple, $alpha: 0.3);
    }

    &-icon {
      filter: brightness(1);
    }
  }
}
