.button {
  height: 54px;
  padding: 0 31px;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid $black500;
  border-radius: 50px;
  background-color: $black500;
  transition: transform ease-in-out 0.1s, border ease-in-out 0.3s;
  will-change: transform, border;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }

  &_secondary {
    color: $black;
    border: 1px solid rgba($color: $black, $alpha: 0.3);
    background-color: rgba($color: $white, $alpha: 0);

    &:hover {
      border-color: $purple;
    }
  }
}
