.logo {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    display: inline-block;
    height: 43px;
    aspect-ratio: 3.65116279 / 1;
    background: url(../assets/logo.svg) center no-repeat;
    background-size: contain;

    @include desktop {
      height: 34px;
    }

    @include mobile {
      height: 29px;
    }
  }
}

.dark .logo {
  &__image {
    background-image: url(../assets/logo-dark.svg);
  }
}
